body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#root {
  display: grid;
   
}

.rdg-cell {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.rdg.fill-grid {
  height: 100%;
}

.rdg.small-grid {
  height: 300px;
}

.rdg.big-grid {
  height: 600px;
}

.rdg-cell .Select {
  max-height: 30px;
  font-size: 12px;
  font-weight: normal;
}

.rdg-table-container {
  max-height: 50vh;;
  overflow-x:auto;
}